@import "../../scss/_variables.scss";

html, body {
  height: inherit;
  margin: 0;
}

.v-application {
  background: #efefef !important;
}
.v-card p {
  color: #333333;
  font-size: 16px;
}
.v-content--wrap {
  height: 100% !important;
  /* max-height: calc(100% - 132px) !important; */
}
.v-toolbar {
  z-index: 100;
  height: 132px;
}
.v-toolbar__title, .v-toolbar__content {
  margin-left: 5px;
}
.v-toolbar__content {
  height: 132px;
}
.v-toolbar__title img {
  height: 130px;
  width: 320px;
  margin: 8px 0 0 0;
}
.v-btn {
  text-transform: none;
}
.theme--light.v-btn {
  color: $cl_btn_text;
}
.v-snack {
  font-size: 15px;
  font-weight: 300;
}
.v-snack__wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  background-color: #444444;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.v-snack--multi-line .v-snack__content {
  height: 80px;
  padding: 24px 90px 24px 24px;
}
.v-dialog__content {
  z-index: 999 !important;
}

.v-expansion-panel {
  margin-bottom: 12px !important;
}
.v-expansion-panel__header {
  margin: 0 !important;
  padding: 0 !important;
  background-color: $cl_panel_header;
}
.v-expansion-panel__header__icon {
  padding-right: 10px;
}
#cl-main-toolbar {
  /* background-image: url("/images/bg_header.png"); */
  background-color: $cl_lightgrey;
  background-repeat: repeat-x;
  z-index: 900;
  flex: 0 1 auto;
  position: fixed;
  width: 100%;
}
#cl-main-toolbar img {
  width: 214px;
  height: 36px;
}
.cl-subheader .v-toolbar__content {
  background-color: #efefef !important;
  color: #444444 !important;
  margin: 4px !important;
}
.cl-module__content {
  margin: 72px 8px 8px 15px;
  padding: 20px 0 0 80px;
}
.cl-content-circle {
  width: 360px !important;
  height: 360px !important;
  border-radius: 360px !important;
  background-color: white !important;
  text-align: center !important;
}
.cl-content {
  background-repeat: repeat;
  height: 100vh;
}
.cl-content-mobile {
  background-repeat: repeat;
  height: 100%;
  padding-top: 30px;
}
.fc-state-default, .fc-state-active {
  border: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-image: none !important;
}
.VueCarousel-navigation-button {
  margin: 0 35px 0 35px;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;
  border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: inherit !important;
  bottom: 0 !important;
  background-color: #dedede !important;
  color: $cl_btn_nav !important;
  opacity: 0.7 !important;
}
.VueCarousel-navigation-prev {
  padding: 0 5px 0 0 !important;
}
.VueCarousel-navigation-next {
  padding: 0  0 0 5px !important;
}
.VueCarousel-navigation--disabled {
  opacity: 0.2 !important;
}
.VueCarousel-dot-container {
  margin-top: 0 !important;
}
.VueCarousel-dot-container button.VueCarousel-dot--active {
  background-color: $cl_yellow !important;
}
.cl-carousel img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  width: 80%;
  margin: 5px 10px 5px 10px;
  border: 6px solid #fba957;
  max-width: 120px;
  cursor: pointer;
}
.cl-carousel .cl-label {
  color: #333333 !important;
}

.VueCarousel-pagination {
  display: block !important;
  max-height: 40px !important;
}
.cl-list_container .v-expansion-panel__header, .cl-list_container .v-card__title {
  background-color: $cl_container_title_bg !important;
  color: $cl_container_title_text !important;
}
 .cl-list_container .v-expansion-panel__header {
   border-bottom: 1px solid $cl_panel_header;
 }
#cl-task .v-tabs__container {
  margin: 0 0 20px 0 !important;
}